
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

playwright/.authentication
*.env
testresults.xml

playwright\.authentication\user1.json
playwright\.authentication\user2.json
